server/.env
.gitignore
client/Locomotion/.env
server/mod-germany.app.yaml
server/dist
server/web-ui/build
**/.DS_STORE
*.apk
examples/client/Locomotion/android/app/*.json
examples/client/Locomotion/fastlane/report.xml
examples/client/Locomotion/fastlane/README.md
/bin
/obj
/src/allopromo.Api/bin
/src/allopromo.Api/obj
/src/allopromo.Core/bin
/src/allopromo.Core/obj
/src/allopromo.Domain/bin
/src/allopromo.Domain/obj
/src/allopromo.Infrastructure/bin
/src/allopromo.Infrastructure/obj
/src/allopromo.Services/bin
/src/allopromo.Services/obj
.vscode
